.jobs-bg-container {
  background-color: #121212;
  background-size: cover;
  padding: 25px;
}

hr {
  width: 100%;
  border-color: #64748b;
  border-style: solid;
}

.employment-title {
  color: #f1f5f9;
  font-size: 25px;
  font-family: roboto;
}

.employment-type-list {
  width: 500px;
  list-style-type: none;
  padding-left: 0px;
}

.jobs-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.filter-container {
  width: 30%;
}

.search-bar-alinement {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.search-bar {
  height: 35px;
  width: 500px;
  color: #64748b;
  background-color: transparent;
  border-top-color: #64748b;
  border-bottom-color: #64748b;
  border-left-color: #64748b;
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
}

.search-icon {
  background-color: #272727;
  width: 50px;
  height: 35px;
  color: #f1f5f9;
  border-width: 1px;
  border-style: solid;
  border-top-color: #64748b;
  border-bottom-color: #64748b;
  border-right-color: #64748b;
  border-left-color: #64748b;
}

.search-button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-view-text {
  color: #ffffff;
  font-size: 25px;
  font-family: roboto;
}

.failure-view-paragraph {
  color: #64748b;
  font-size: 15px;
  font-family: roboto;
}

.failure-view-retry {
  background-color: #4f46e5;
  border: 0px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  height: 25px;
  width: 70px;
}

.inprogress-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-jobs-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-jobs-text {
  color: #ffffff;
  font-size: 25px;
  font-family: roboto;
}

.no-jobs-paragraph {
  color: #64748b;
  font-size: 15px;
  font-family: roboto;
}

@media screen and (min-width: 767px) {
  .jobs-bg-container {
    background-color: #121212;
    background-size: cover;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .jobs-container {
    list-style-type: none;
    padding-left: 0px;
    width: 70%;
  }
}
